*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration:none ;
}
input:focus,input:active{
    outline: none;
}
/* width */
.sect-1-leftmenu::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.sect-1-leftmenu::-webkit-scrollbar-track {
}
/* Handle */
.sect-1-leftmenu::-webkit-scrollbar-thumb {
}
/* Handle on hover */
.sect-1-leftmenu::-webkit-scrollbar-thumb:hover {
}

::-webkit-scrollbar {
    width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #292f40;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a4259;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #828ba4;
}
.wrapper{
    width: 100%;
    min-height: 600px;
    height: 100vh;
    background: silver;
    display: flex ;
    flex-wrap: wrap;
}

/*SECTION 1*/

.section-1{
    width:26%;
    display: flex;
    flex-wrap: wrap;
}

.sect-1-header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #292f40;
    background: #32394d;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_bl{
    width: 18%;
}
.inp_bl{
    width: 82%;
}
.inp_bl input{
    margin: auto;
    display: block;
    width: 85%;
    max-width: 291px;
    padding: 10px 20px;
    border-radius: 23px;
    background: #292f40;
    border: 2px solid #3b4258;
    box-sizing: border-box;
    color: #999dab;
    font-size: 12px;
}

.inp_bl input::placeholder{
    color: #999dab ;
}

.logo_bl img{
    width: 50px;
    margin-left: 14px;
}

.sect-1-leftmenu{
    width: 18%;
    height: calc(100% - 100px) ;
    background: #292f40;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative
}

.sect-1-leftmenu ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 51%;
    max-height: 307px;
    box-sizing: border-box;
    padding-top: 12px;
}
.sect-1-leftmenu ul li{
    width: 100%;
}


.leftmenu-item{
    width:38px;
    height:38px;
    border-radius: 50%;
    background: #32394d;
    margin: 8% auto;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logout-bl{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 15px;
}

.leftmenu-item-logout{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #32394d;
    margin: 8% auto;
    /*position: absolute;*/
    /*bottom: 15px;*/
    /*left: 0;*/
    /*right: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.leftmenu-item i,.logout-bl i{
    color: white;
    font-size: 14px;
    cursor: pointer;
}


.sect-1-rightmenu{
    width: 82%;
    height: calc(100% - 100px);
    background: #32394d;
}

.sect-1-rightmenu-content{
    width: 100%;
    height: calc(100% - 72px);
}

.sect-1-rightmenu-footer{
    width: 100%;
    height: 70px;
    background: #2f3547;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sect-1-rightmenu-footer-left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}

.sect-1-rightmenu-footer-right{
    width: 50%;
    height: 100%;
}

.my_photo_bl{
    width: 53px;
    height: 52px;
    overflow: hidden;
    border-radius: 50%;
}

.my_photo_bl img{
    width: 53px;
}

/*SECTION 2*/

.section-2{
    width:74%;
    display: flex;
    flex-wrap:wrap;
}

.sect-2-left{
    width: 73%;
    background: #3a4259;
}

.sect-2-right{
    width: 27%;
    background: #32394d;
}

.sect-2-left-header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #292f40;
    background: #32394d70;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sect-2-right-header{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #292f40;
    background: #32394d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp_bl_2{
    position: relative;
    margin: auto;
    width: 83%;
}

.inp_bl_2 input{
    display: block;
    width: 100%;
    max-width: 291px;
    padding: 10px 20px;
    border-radius: 23px;
    background: #292f40;
    border: 2px solid #3b4258;
    box-sizing: border-box;
    color: #999dab;
    font-size: 12px;
}

.inp_bl_2 input::placeholder{
    color: #999dab ;
}

.inp_bl_2 i{
    position: absolute;
    top: 13px;
    right: 21px;
    font-size: 13px;
    color: #999dab;
}

.sect-2-left-content{
    width: 100%;
    height: calc(100% - 172px);
}

.message-inp-bl{
    width: 100%;
    height: 70px;
}


.message-inp-bl:before {
    content: "";
    z-index: 1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.message-inp-bl input{
    width: 100%;
    height: 100%;
    border: none;
    background: #32394db3;

    box-sizing: border-box;
    padding: 0 32px;
    font-size: 17px;
    color: #828ba4;
}

.message-inp-bl input::placeholder{
    color: #828ba4;
}
