*{
    padding: 0;
    margin: 0;
    font-weight: 400;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.setting-bl{
    max-width: 1030px;
    width: 100%;
    height: 601px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*background: #ffffff0d;*/
    background:#ffffff00;
    padding: 11px 6px 22px 6px;
    border-radius: 26px;
    box-sizing: border-box;
}

.black-bl{
    /*background: #0e0e0e;*/
    /*background-image: url("https://stmed.net/sites/default/files/hacker-wallpapers-30679-4582054.jpg");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.setting-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 73px;
    padding: 3px 14px;
    box-sizing: border-box;
    margin-bottom: 13px;
}

.setting-logo{
    width: 50%;
}

.setting-logo i {
    font-size: 41px;
    color: white;
    position: relative;
    top: 5px;
}


.setting-logo h2{
    color: white;
    letter-spacing: 6px;
    padding-left: 9px;
    font-size: 34px;
    display: inline-block;
    position: relative;
    top: 8px;
    text-transform: uppercase;
}

.setting-nav-menu{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.setting-nav-menu li{
    padding: 9px 18px;
}
.setting-nav-menu li a:hover{
    color:#c3bebe;
}
.setting-nav-menu li a{
    color: white;
    font-size: 15px;
    letter-spacing: 4px;

}

.setting-content{
    display: flex;
    width: 100%;
    min-height: 480px;
    box-sizing: border-box;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.setting-content .column{
    min-height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.column-1{
    align-content: space-between;
    width: 24%;
}

.left-menu{
    width: 100%;
    min-height: 480px;
    background: black;
    border-radius: 23px 0 0 23px;
}

.column-right{
    width: 74%;
    background: #ffffff1c;
    border-radius: 0 23px 23px 0;
}


/*********ALISA DRAGGABLE STYLES START******************/

.blurred-bg {
    background-image: url("https://i.pinimg.com/originals/e7/3e/97/e73e97c11783dfd7dc72ecbf522a17a6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box {
    width: 350px;
    height: 200px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 6px;
    padding-top: 22px;
    text-align: center;
    box-sizing: border-box;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    transition: box-shadow .3s ease;
}
.box:active {
    cursor: move;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.9);
}

.box .alisa-box-bg {
    background: #0000007a;
    z-index: 2;
    width: 100%;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 2px;
    border-radius: 5px;
}

.box .alisa-box-content{
    position: absolute;
    z-index: 3;
    width: calc(100% - 28px);
    height: calc(100% - 28px);
}

.box .alisa-box-content h1{
    font-family: 'Roboto Condensed', sans-serif;
}

.alisa-box-actions{
    width: 75px;
    position: absolute;
    z-index: 4;
    height: 18px;
    background: #ffffff3b;
    top: 2px;
    right: 7px;
    display: flex;
}

.alisa-box-actions-item i {
    font-size: 10px;
    color: white;
    cursor: pointer;
}
.alisa-box-actions-item{
    cursor: pointer;
    width: 25px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.alisa-box-actions-close{
    background: #d65050;
}

.alisa-box-actions-rollup:hover,.alisa-box-actions-expand:hover{
    background: #4e4ef1;
    color: white;
}


.beeg_box{
    width: 80%!important;
    height: 80vh!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
    margin: auto!important;
}


/*********ALISA DRAGGABLE STYLES END******************/




